.header{
    text-align: center;
}

.common{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainbody{
    background-color: rgb(5, 5, 5);
    color: azure;
}

.footer{
    height: 25px;
    font-size: 10px;
    padding-top: 15px;
    background-color: blueviolet;
    color: bisque;
    bottom: 0px;
    right: 5px;
    left: 5px;
    position: fixed;
}